/*
-fx-alignment property. Valid values are:
[ top-left | top-center | top-right | center-left | center | center-right bottom-left | bottom-center | bottom-right | baseline-left | baseline-center | baseline-right ]
*/

.pane {
    -fx-background-color: #48aaad;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
}

.jfx-combo-box {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #FFFFFFA3;
    -fx-text-fill: WHITE;
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER-LEFT;
    -jfx-focus-color: #07595a;
    -jfx-unfocus-color: WHITE;
}

.jfx-combo-box .combo-box-button-container {
    /* -fx-background-color:RED; */
    -fx-font-size: 13px;
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: #FFFFFFA3;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER-LEFT;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box, #084546, 8, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #084546;
    -fx-text-fill: WHITE;
    -fx-font-size: 13px;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER-LEFT;
}

.jfx-text-field {
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #FFFFFFA3;
    -fx-text-alignment: CENTER-LEFT;
    -fx-text-fill: #FFFFFF;
    -jfx-focus-color: #3d7172;
    -jfx-unfocus-color: WHITE;
}

.jfx-password-field {
    /* -fx-background-color: white; */
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #FFFFFFA3;
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: #FFFFFF;
    -jfx-focus-color: #3d7172;
    -jfx-unfocus-color: WHITE;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-text-alignment: LEFT;
    -jfx-focus-color: #07595a;
    -jfx-unfocus-color: #44aaad;
    -fx-alignemnt: CENTER-LEFT;
}

.titleLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 18px;
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER-LEFT;
    -jfx-focus-color: #07595a;
    -jfx-unfocus-color: #44aaad;
}

.hyperlink {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-text-alignment: LEFT;
    -jfx-focus-color: #07595a;
    -jfx-unfocus-color: #44aaad;
    -fx-alignemnt: CENTER-LEFT;
}

.infoLabel {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Andale Mono";
    /* Andale Mono */
    /* Segoe UI Light */
    -fx-font-size: 10px;
    -fx-text-alignment: LEFT;
    -fx-content-display: TOP;
    -fx-max-height: Infinity;
    -fx-alignemnt: TOP-LEFT;
    -fx-effect: innershadow( three-pass-box, #FFFFFF, 10, 0.25, 0, 1);
}

.errorLabel {
    -fx-text-fill: red;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-text-alignment: LEFT;
    -fx-alignemnt: CENTER-LEFT;
    -jfx-focus-color: #07595a;
    -jfx-unfocus-color: #44aaad;
}

.jfx-button:hover,
.jfx-button:focused,
.jfx-button {
    -fx-background-color: WHITE;
    -fx-text-fill: #48aaad;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.jfx-button:hover {
    -fx-effect: dropshadow( three-pass-box, #FFFFFF, 10, 0.25, 0, 1);
}

.addGroupButton {
    -fx-background-color: transparent;
    -fx-text-fill: #48aaad;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-fill: WHITE;
    /* -fx-font-weight: bold; */
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.addGroupButton:hover,
.addGroupButton:focused {
    -fx-background-color: transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-fill: WHITE;
    /* -fx-font-weight: bold; */
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.jfx-check-box {
    -jfx-unchecked-color: #FFFFFF;
    -jfx-checked-color: #48aaad;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-font-size: 14px;
    -fx-text-fill: WHITE;
}

.jfx-check-box .box {
    -fx-background-color: WHITE;
    /* -fx-background-radius: 21; */
    -fx-border-color: #48aaad;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.jfx-check-box:selected .box {
    -fx-border-color: #FFFFFFA3;
}

.jfx-check-box:selected .mark {
    -fx-border-color: #48aaad;
}